
version: '3.2'
services:
  tor:
    build: ../../Tor/tor/
    image: tor
    ports:
            - "9050:9050"
    networks:
        net1:
                ipv4_address: 10.5.11.14

  ddclient:
    build: ../../DDClient/ddclient
    image: ddclient
    volumes:
      - /home/pi/locals/ddclient/ddclient.conf:/etc/ddclient.conf

  registry:
    image: arm32v6/registry:2.7.1 
    ports:
            - "5000:5000"
    networks:
        net1:
                ipv4_address: 10.5.11.12
    volumes:
      - type: volume
        source: registry-volume
        target: /var/lib/registry
        volume:
          nocopy: true



  pihole:
    image: diginc/pi-hole-multiarch:debian_armhf
    cap_add: 
        - NET_ADMIN
    ports:  
      - "53:53/udp"
      - "53:53/tcp"
      - "80:80"
    networks:
        net1:
                 ipv4_address: 10.5.11.11
    environment:
      ServerIP: 10.5.11.11
      DNS1: 1.1.1.1
      DNS2: 8.8.8.8
      WEBPASSWORD: Password1

volumes:
  registry-volume:
    driver_opts:
      type: "nfs"
      o: "addr=10.5.11.20,nolock,soft,rw"
      device: ":/export/Volumes/$HOST/INFRA-SRV-HOTH/registry"


networks:
  net1:
    driver: macvlan
    driver_opts:
            parent: eth0
    ipam:
      config:
        - subnet: 10.5.11.0/24
