set ssl_starttls=yes
set ssl_force_tls=yes
set imap_user = 'zconingford@gmail.com'
set imap_pass = '{{  gmail_zconingford  }}'
set from='zconingford@gmail.com'
set realname='Zachary Hudson'
set folder = imaps://imap.gmail.com/
set spoolfile = imaps://imap.gmail.com/INBOX
set postponed="imaps://imap.gmail.com/[Gmail]/Drafts"
set header_cache = "~/.mutt/cache/headers"
set message_cachedir = "~/.mutt/cache/bodies"
set certificate_file = "~/.mutt/certificates"
set smtp_url = 'smtps://zconingford@gmail.com:{{  gmail_zconingford  }}@smtp.gmail.com:465/'
set move = no
set imap_keepalive = 900
set sort = reverse-date-received
set sort_aux = reverse-last-date-received


# set mbox_type=maildir
# set mbox="~/mail/inbox/"
# set spoolfile="~/mail/inbox/"
# set folder="~/mail/"
# set record="~/mail/sent/"
# set postponed="~/mail/postponed/"




auto_view text/html                                      # view html automatically
alternative_order text/plain text/enriched text/html     # save html for last

