---
- name: install base packages
  become: true 
  tags: installs
  apt:
    update_cache: yes
    name: "{{ packages }}"
  vars:
    packages:
    - i3  
    - dmenu 
    - i3lock
    - feh
    - xserver-xorg
    - xinit
    - vim-nox
    - compton 
    - lemonbar
    - python-pip 
    - fonts-powerline
    - tmux
    - conky 
    - luakit
    - zsh
    - fonts-font-awesome
    - lightdm
    - git
    - xfce4-terminal   


- name: change shell to zsh
  become: yes
  lineinfile:
        create: yes
        dest: /etc/passwd
        regexp: '^zhudson'
        line : 'zhudson:x:1000:1000:zhudson,,,:/home/zhudson:/usr/bin/zsh'



- name : bumblebee repo
  become: yes
  become_user: zhudson
  git:
    repo: https://github.com/tobi-wan-kenobi/bumblebee-status
    dest: /home/zhudson/.bumblebee-status 

- name: install oh-my-zsh
  shell: sh -c "$(wget https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh -O -)"
  args:
    chdir: /home/zhudson
    creates: /home/zhudson/.oh-my-zsh/README.md

- name : zsh powerlevel 9k repo
  become: yes
  become_user: zhudson
  git:
    repo: https://github.com/bhilburn/powerlevel9k.git
    dest: /home/zhudson/.oh-my-zsh/custom/themes/powerlevel9k 


- name: change shell to zsh
  become: yes
  lineinfile:
        create: yes
        dest: /home/zhudson/.zshrc
        regexp: '^ZSH_THEME'
        line : 'ZSH_THEME="powerlevel9k/powerlevel9k"'


- name: install powerline 
  tags: installs
  pip: 
    name: powerline-status


- name: install powerline 
  tags: installs
  pip: 
    name: "{{  modules  }}"
  vars:
    modules:
     - psutil
     - netifaces
     - requests
     - power 
     - i3ipc


- name: add zsh config 
  tags: configs
  copy: 
    src: files/.zshrc
    dest: ~/.zshrc


- name: add bar config 
  tags: configs
  copy: 
    src: files/bar.sh
    dest: ~/bar.sh

- name: add bar2 config 
  tags: configs
  copy: 
    src: files/bar2.sh
    dest: ~/bar2.sh

- name: copy background image 
  tags: configs
  copy: 
    src: files/bg.jpg
    dest: ~/bg.jpg

- name: copy background image 
  tags: configs
  copy: 
    src: files/bg.png
    dest: ~/bg.png


- name: add bash config 
  tags: configs
  copy: 
    src: files/.bashrc
    dest: ~/.bashrc

- name: Create i3 config dir 
  file: 
    path: ~/.config/i3
    state: directory


- name: add i3 config 
  tags: configs
  copy: 
    src: files/config
    dest: ~/.config/i3/config



- name: create xfce4 termnal config dir  
  file: 
    path: ~/.config/xfce4/terminal/
    state: directory


- name: copy xfce4 terminal config 
  tags: configs
  copy: 
    src: files/terminalrc
    dest: ~/.config/xfce4/terminal/terminalrc


- name: add vim  config 
  tags: configs
  copy: 
    src: files/.vimrc
    dest: ~/.vimrc

- name: add tmux config 
  tags: configs
  copy: 
    src: files/tmux.conf
    dest: ~/.tmux.conf


- name: add lightdm.conf 
  tags: configs
  copy: 
    src: files/lightdm.conf
    dest: /etc/lightdm/lightdm.conf
 


- name: add lightdm-gtk-greeter.conf 
  tags: configs
  copy: 
    src: files/lightdm-gtk-greeter.conf
    dest: /etc/lightdm/lightdm-gtk-greeter.conf
 






 

 
