
global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon



defaults
    mode http
    option forwardfor
    option http-server-close
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms


frontend http-frontend
  bind *:80
  mode http


  default_backend backend-ttrss

  acl url_tt-rss path_beg /tt-rss
  use_backend backend-ttrss if url_tt-rss





backend backend-ttrss
	mode http
    server 1-tt-rss 10.3.14.11:8083/tt-rss/ check
    server 2-tt-rss 10.3.14.12:8083/tt-rss/ check
    server 3-tt-rss 10.3.14.13:8083/tt-rss/ check





